.container{
    text-align: center;
    
}
.matchList{
    
    width: 700px;
    /* border-top: 1px solid black; */
}



.title{
    margin-bottom: 10px;
    font-size: 3rem;
    font-weight: 600;
}
/* .outerContainer{
    text-align: center;
    width: 750px;
    height: 750px;
    border: 5px;
} */

.outerContainer {
    display: flex;
    justify-content: center; /* Aligns children horizontally in the center */
    /* align-items: center; Optional: if you also want vertical centering */
     /* width: 100%;   */
    /* Other styles as needed */
    /* width: 750px;
    height: 750px; */

  }