.container {
  background-image :linear-gradient(to top, navy, silver);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-style:italic;
 }
 
 h1 {
  margin-bottom: 0;
 }
 
 p {
  margin-top: 0;
 }