.body{
    overflow-y: scroll;
}
.cardBody{
    /* display: flex; */
    display: grid;
  grid-template-columns: auto auto auto; /* Defines the number and size of columns */
  grid-gap: 20px; /* Space between rows and columns */
  /* padding: 10px; */
  margin: 35px 150px 50px 150px;
}
.heart{
    width: 200px;
    height: 200px;

}
.image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}

.input{
    width: 700px;
}
.filters{
    /* margin-top: 42px; */
    display: flex;
    /* flex-direction: column; */
    gap: 1rem;
    padding: 16px;
    padding-top: 0;
    /* align-items: center; */
    
    
}

.filter{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
  }